.element {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.element::after {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.elemt:hover::before {
  top: 50%;
}
.elemt:hover::after {
  top: 0;
}
